In [1]:
#LIST
#Lists are used to store multiple items in a single variable.
#Lists are created using square brackets

In [126]:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
thislist[0] = 'kiwi'
print(type(thislist))
print(thislist[-5:])
print(len(thislist))
(rt, br, *hm, lk) = thislist
print(rt, br, hm, lk)

listM = thislist*3
print(listM)
listM = listM*2
print(listM)

<class 'list'>
['kiwi', 'banana', 'cherry', 'apple', 'cherry']
5
kiwi banana ['cherry', 'apple'] cherry
['kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry']
['kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry', 'kiwi', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
newList = list((1, 1.34, 'aa', '1z'))
newList

for i in newList:
    print(i)

j=0
while j!=len(newList):
    print(type(newList[j]))
    j+=1

1
1.34
aa
1z
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [14]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1:3])
thislist[1:3] = ["watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'watermelon']

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "1z")
print(thislist)
thislist.append("orange")
print(thislist)
thislist3.append("orange")
print(thislist3)
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', '1z', 'cherry']
['apple', 'banana', '1z', 'cherry', 'orange']

NameError: name 'thislist3' is not defined

In [32]:
#the remove() method removes the first occurance:
thislist = ["apple", "banana", "cherry", "banana", "kiwi", "banana", "banana"]
thislist.remove("banana")
print(thislist)

thislist.pop(2)
print(thislist)

thislist.pop()
print(thislist)

thislist.pop()
print(thislist)

del thislist[0]
print(thislist)

thislist.clear()
print(thislist)

#del thislist
#print(thislist)

['apple', 'cherry', 'banana', 'kiwi', 'banana', 'banana']
['apple', 'cherry', 'kiwi', 'banana', 'banana']
['apple', 'cherry', 'kiwi', 'banana']
['apple', 'cherry', 'kiwi']
['cherry', 'kiwi']
[]

In [33]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [43]:
'''
range(start, stop, step)
Parameter Values
Parameter	Description
start	Optional. An integer number specifying at which position to start. Default is 0
stop	Required. An integer number specifying at which position to stop (not included).
step	Optional. An integer number specifying the incrementation. Default is 1
'''

x = range(3, 20, 6)
for n in x:
  print(n)
for i in range(2,4):
    print(i)

3
9
15
2
3

In [71]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    print(x)
    print(bool(("i" in x) or ('a' in x)))
    if ("i" in x) or ('a' in x):
        newlist.append(x)
        print('add  ' + x)
      

print(newlist)

apple
True
add  apple
banana
True
add  banana
cherry
False
kiwi
True
add  kiwi
mango
True
add  mango
['apple', 'banana', 'kiwi', 'mango']

In [77]:
#newlist = [expression for item in iterable if condition == True]
#The return value is a new list, leaving the old list unchanged.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
newlist = [x for x in fruits if "a" in x]
newlist2 = [x for x in fruits]
print(newlist)
print(newlist2)
newlist3 = [x for x in range(10)]
newlist4 = [x for x in range(10) if x!= 5]
print(newlist3)
print(newlist4)
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
newlist = [x.upper() for x in fruits]
print(newlist)
newlist = [x if x != "banana" else "orange" for x in fruits if ('a' in x and 'n' in x)]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 6, 7, 8, 9]
['apple', 'orange', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['orange', 'mango']

In [111]:
#list.sort(reverse=True|False, key=myFunc)
#Parameter Values
#Parameter	Description
#reverse	Optional. reverse=True will sort the list descending. Default is reverse=False
#key	Optional. A function to specify the sorting criteria(s)
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist1 = [100, 50, 65, 82, 23]
thislist.extend([str(x) for x in thislist1])
print(thislist)
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['banana', 'kiwi', 'mango', 'orange', 'pineapple', '100', '50', '65', '82', '23']
['100', '23', '50', '65', '82', 'banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [86]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [101]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23, 11, 0, 150]
thislist.sort()
print(thislist)

thislist1 = [abs(x-50) for x in thislist]
print(thislist1)

thislist.sort(key=myfunc)
print(thislist)

# A function that returns the length of the value:
def myFunc(e):
  return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)

[0, 11, 23, 50, 65, 82, 100, 150]
[50, 39, 27, 0, 15, 32, 50, 100]
[50, 65, 23, 82, 11, 0, 100, 150]
['VW', 'BMW', 'Ford', 'Mitsubishi']

In [105]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [106]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [107]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [110]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [112]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [115]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [117]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [120]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list4 = []
list5 = []
list3 = list1 + list2
print(list3)
for x in list3:
  list4.append(x)

print(list4)

list5.extend(list4)
print(list5)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]