In [ ]:
#Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
#A set is a collection which is unordered, unchangeable*, and unindexed.
#Set items are unordered, unchangeable, and do not allow duplicate values.

In [11]:
#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)
typl =('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
mset = set(typl)
print(mset)
for x in thisset:
  print(x)
print("banana" in thisset)
thisset.add("orange")
print(thisset)

{'cherry', True, 2, 'banana', 'apple'}
{'cherry', 'banana', 'apple'}
cherry
True
2
banana
apple
True
{'cherry', True, 2, 'banana', 'apple', 'orange'}

In [17]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
fruits = ("mango", "pineapple", "papaya")
thisset.update(mylist)
print(thisset)
thisset.update(fruits)
print(thisset)

{'cherry', 'mango', 'banana', 'apple', 'pineapple', 'papaya'}
{'cherry', 'kiwi', 'banana', 'apple', 'orange'}
{'cherry', 'mango', 'kiwi', 'banana', 'apple', 'orange', 'pineapple', 'papaya'}

In [21]:
#Note: If the item to remove does not exist, remove() will raise an error.
#Note: If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
thisset.discard("banana")
print(thisset)
thisset.clear()
print(thisset)
#del thisset
#print(thisset)

{'cherry', 'apple'}
{'cherry', 'apple'}
set()

In [22]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
banana
apple

In [24]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}
{1, 2, 3, 'a', 'c', 'b'}

In [25]:
#The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [26]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [27]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'microsoft', 'banana', 'google'}

In [29]:
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)
#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'cherry', 'banana', 'google'}
{'cherry', 2, 'banana', 'google'}